@keyframes ldio-lys7j7ejku {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.12,1.12);
  } 100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1,1);
  }
}
.ldio-lys7j7ejku div > div {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #afe4ff;
  animation: ldio-lys7j7ejku 1.6393442622950818s linear infinite;
}.ldio-lys7j7ejku div:nth-child(1) > div {
  left: 150px;
  top: 84px;
  animation-delay: -1.5786278081360046s;
}
.ldio-lys7j7ejku > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 166px 100px;
}.ldio-lys7j7ejku div:nth-child(2) > div {
  left: 148px;
  top: 99px;
  animation-delay: -1.5179113539769276s;
}
.ldio-lys7j7ejku > div:nth-child(2) {
  transform: rotate(13.333333333333334deg);
  transform-origin: 164px 115px;
}.ldio-lys7j7ejku div:nth-child(3) > div {
  left: 143px;
  top: 114px;
  animation-delay: -1.4571948998178503s;
}
.ldio-lys7j7ejku > div:nth-child(3) {
  transform: rotate(26.666666666666668deg);
  transform-origin: 159px 130px;
}.ldio-lys7j7ejku div:nth-child(4) > div {
  left: 135px;
  top: 126px;
  animation-delay: -1.3964784456587733s;
}
.ldio-lys7j7ejku > div:nth-child(4) {
  transform: rotate(40deg);
  transform-origin: 151px 142px;
}.ldio-lys7j7ejku div:nth-child(5) > div {
  left: 123px;
  top: 137px;
  animation-delay: -1.3357619914996963s;
}
.ldio-lys7j7ejku > div:nth-child(5) {
  transform: rotate(53.333333333333336deg);
  transform-origin: 139px 153px;
}.ldio-lys7j7ejku div:nth-child(6) > div {
  left: 110px;
  top: 145px;
  animation-delay: -1.275045537340619s;
}
.ldio-lys7j7ejku > div:nth-child(6) {
  transform: rotate(66.66666666666667deg);
  transform-origin: 126px 161px;
}.ldio-lys7j7ejku div:nth-child(7) > div {
  left: 95px;
  top: 149px;
  animation-delay: -1.214329083181542s;
}
.ldio-lys7j7ejku > div:nth-child(7) {
  transform: rotate(80deg);
  transform-origin: 111px 165px;
}.ldio-lys7j7ejku div:nth-child(8) > div {
  left: 80px;
  top: 150px;
  animation-delay: -1.1536126290224649s;
}
.ldio-lys7j7ejku > div:nth-child(8) {
  transform: rotate(93.33333333333333deg);
  transform-origin: 96px 166px;
}.ldio-lys7j7ejku div:nth-child(9) > div {
  left: 65px;
  top: 147px;
  animation-delay: -1.0928961748633879s;
}
.ldio-lys7j7ejku > div:nth-child(9) {
  transform: rotate(106.66666666666667deg);
  transform-origin: 81px 163px;
}.ldio-lys7j7ejku div:nth-child(10) > div {
  left: 51px;
  top: 141px;
  animation-delay: -1.0321797207043106s;
}
.ldio-lys7j7ejku > div:nth-child(10) {
  transform: rotate(120deg);
  transform-origin: 67px 157px;
}.ldio-lys7j7ejku div:nth-child(11) > div {
  left: 39px;
  top: 132px;
  animation-delay: -0.9714632665452336s;
}
.ldio-lys7j7ejku > div:nth-child(11) {
  transform: rotate(133.33333333333334deg);
  transform-origin: 55px 148px;
}.ldio-lys7j7ejku div:nth-child(12) > div {
  left: 29px;
  top: 120px;
  animation-delay: -0.9107468123861565s;
}
.ldio-lys7j7ejku > div:nth-child(12) {
  transform: rotate(146.66666666666666deg);
  transform-origin: 45px 136px;
}.ldio-lys7j7ejku div:nth-child(13) > div {
  left: 22px;
  top: 107px;
  animation-delay: -0.8500303582270794s;
}
.ldio-lys7j7ejku > div:nth-child(13) {
  transform: rotate(160deg);
  transform-origin: 38px 123px;
}.ldio-lys7j7ejku div:nth-child(14) > div {
  left: 18px;
  top: 92px;
  animation-delay: -0.7893139040680023s;
}
.ldio-lys7j7ejku > div:nth-child(14) {
  transform: rotate(173.33333333333334deg);
  transform-origin: 34px 108px;
}.ldio-lys7j7ejku div:nth-child(15) > div {
  left: 18px;
  top: 76px;
  animation-delay: -0.7285974499089252s;
}
.ldio-lys7j7ejku > div:nth-child(15) {
  transform: rotate(186.66666666666666deg);
  transform-origin: 34px 92px;
}.ldio-lys7j7ejku div:nth-child(16) > div {
  left: 22px;
  top: 61px;
  animation-delay: -0.6678809957498482s;
}
.ldio-lys7j7ejku > div:nth-child(16) {
  transform: rotate(200deg);
  transform-origin: 38px 77px;
}.ldio-lys7j7ejku div:nth-child(17) > div {
  left: 29px;
  top: 48px;
  animation-delay: -0.607164541590771s;
}
.ldio-lys7j7ejku > div:nth-child(17) {
  transform: rotate(213.33333333333334deg);
  transform-origin: 45px 64px;
}.ldio-lys7j7ejku div:nth-child(18) > div {
  left: 39px;
  top: 36px;
  animation-delay: -0.5464480874316939s;
}
.ldio-lys7j7ejku > div:nth-child(18) {
  transform: rotate(226.66666666666666deg);
  transform-origin: 55px 52px;
}.ldio-lys7j7ejku div:nth-child(19) > div {
  left: 51px;
  top: 27px;
  animation-delay: -0.4857316332726168s;
}
.ldio-lys7j7ejku > div:nth-child(19) {
  transform: rotate(240deg);
  transform-origin: 67px 43px;
}.ldio-lys7j7ejku div:nth-child(20) > div {
  left: 65px;
  top: 21px;
  animation-delay: -0.4250151791135397s;
}
.ldio-lys7j7ejku > div:nth-child(20) {
  transform: rotate(253.33333333333334deg);
  transform-origin: 81px 37px;
}.ldio-lys7j7ejku div:nth-child(21) > div {
  left: 80px;
  top: 18px;
  animation-delay: -0.3642987249544626s;
}
.ldio-lys7j7ejku > div:nth-child(21) {
  transform: rotate(266.6666666666667deg);
  transform-origin: 96px 34px;
}.ldio-lys7j7ejku div:nth-child(22) > div {
  left: 95px;
  top: 19px;
  animation-delay: -0.3035822707953855s;
}
.ldio-lys7j7ejku > div:nth-child(22) {
  transform: rotate(280deg);
  transform-origin: 111px 35px;
}.ldio-lys7j7ejku div:nth-child(23) > div {
  left: 110px;
  top: 23px;
  animation-delay: -0.2428658166363084s;
}
.ldio-lys7j7ejku > div:nth-child(23) {
  transform: rotate(293.3333333333333deg);
  transform-origin: 126px 39px;
}.ldio-lys7j7ejku div:nth-child(24) > div {
  left: 123px;
  top: 31px;
  animation-delay: -0.1821493624772313s;
}
.ldio-lys7j7ejku > div:nth-child(24) {
  transform: rotate(306.6666666666667deg);
  transform-origin: 139px 47px;
}.ldio-lys7j7ejku div:nth-child(25) > div {
  left: 135px;
  top: 42px;
  animation-delay: -0.1214329083181542s;
}
.ldio-lys7j7ejku > div:nth-child(25) {
  transform: rotate(320deg);
  transform-origin: 151px 58px;
}.ldio-lys7j7ejku div:nth-child(26) > div {
  left: 143px;
  top: 54px;
  animation-delay: -0.0607164541590771s;
}
.ldio-lys7j7ejku > div:nth-child(26) {
  transform: rotate(333.3333333333333deg);
  transform-origin: 159px 70px;
}.ldio-lys7j7ejku div:nth-child(27) > div {
  left: 148px;
  top: 69px;
  animation-delay: 0s;
}
.ldio-lys7j7ejku > div:nth-child(27) {
  transform: rotate(346.6666666666667deg);
  transform-origin: 164px 85px;
}
.loadingio-spinner-spin-5rvx19mm34l {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
}
.ldio-lys7j7ejku {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-lys7j7ejku div { box-sizing: content-box;}
/* generated by https://loading.io/ */